# Doctrine DBAL / Migrations
DATABASE_URL="postgresql://user:password@127.0.0.1:5432/dbname?serverVersion=16&charset=utf8"

DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=dbname

# PDO
DATABASE_DSN="pgsql:host=127.0.0.1;port=5432;dbname=dbname"
DATABASE_USER="user"
DATABASE_PASSWORD="password"